@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.parent {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #000000;
}

.containerHeader a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  color: #f65261;
}

.find {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.search {
  outline: none;
  border: 0;
  border-radius: 5px;
  margin-right: 10px;
  width: 70%;
  user-select: none;
  background-color: #424242;
  color: #ffffff;
}
