.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
}

.modal-enter-done {
  opacity: 1;
  pointer-events: auto;
}

.modal-content {
  width: 65vw;
  height: 90vh;
  background-color: #232323;
  color: #fff;
}
