.addMovie {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #f65261;
  background: rgba(96, 96, 96, 0.68);
  border: 0;
  border-radius: 4px;
  user-select: none;
  padding: 8px;
}

.addMovie:active {
  background: rgba(74, 74, 74, 0.68);
}
