.containerFooter {
  background-color: #424242;
}

.containerFooter a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  color: #f65261;
}

.logo {
  display: flex;
  justify-content: center;
}
