.image {
  width: 100%;
}

.year {
  text-align: center;
}

.yearNumber {
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 2px 5px;
}

.cursor:hover {
  padding: 1px;
  border: 1px solid #000;
  cursor: pointer;
}
