.imageParent {
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.image {
  cursor: pointer;
  -o-object-fit: contain;
  object-fit: contain;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
  height: 100%;
  width: 100%;
  position: relative;
}

.image:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms;
}

.textContent {
  margin-bottom: 30px;
  padding: 15px 10px 0 10px;
  font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.textContent .name {
  font-size: 18px;
}

.textContent .type {
  color: #919191;
}

.textContent .year {
  text-align: center;
}

.textContent .yearNumber {
  border: 1px solid #979797;
  border-radius: 5px;
  padding: 2px 5px;
}

.textContent:hover {
  cursor: pointer;
  background: #181818;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.kebabIcon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 5px 8px 5px;
  cursor: pointer;
  background-color: #ffffff;
  border-bottom-left-radius: 10px;
}

.kebabIcon:hover {
  background-color: #ddd;
}

.kebabIcon:active {
  background-color: #bbb;
}

.kebabIconMenu {
  position: absolute;
  right: 0;
  width: 200px;
  background-color: #232323;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.kebabIconMenu .modifyParent {
  list-style-type: none;
  margin: 0;
  padding: 40px 0 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

.kebabIconMenu .modifyParent .modifyClose {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 10px !important;
}

.kebabIconMenu .modifyParent .modifiers {
  padding: 10px;
}

.kebabIconMenu .modifyParent .modifiers:hover {
  background-color: #f65261;
}

.kebabIconMenuHide {
  display: none;
}

.popup {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.popup .popupChild {
  width: 500px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #232323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.popup .popupChild .popupX {
  font-size: 25px;
  float: right;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: transparent;
  color: #ffffff;
  border: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 7px 15px;
  border-radius: 100px;
}

.popup .popupChild .popupX:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.popup .popupChild .popupText {
  font-family: 'Montserrat', sans-serif;
}

.popup .popupChild .popupText .popupOverview {
  margin: 20px 0 30px 0;
}

.popup .popupChild .popupText .popupButton {
  float: right;
  background-color: #f65261;
  color: #ffffff;
  border: 0;
  border-radius: 5px;
  padding: 10px 40px;
}

.popup .popupChild .popupText .popupButton:hover {
  background-color: #ea4755;
}

.popup .popupChild .popupText .popupButton:active {
  background-color: #fa3142;
}

@media screen and (max-width: 500px) {
  .popupChild {
    font-size: 12px;
    width: 400px !important;
  }
  .popupX {
    right: 50px !important;
  }
}
/*# sourceMappingURL=styles.module.css.map */
