.parent {
  background-color: #232323;
  color: #fff;
}

.navbar {
  background-color: transparent !important;
}

.dropdownList {
  position: absolute;
  margin-left: 2px;
  background-color: #fff;
  color: #000;
  list-style: none;
  list-style-position: inside;
  font-family: "Montserrat", sans-serif;
  border: 0;
}
